<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5.3" />
		<httpRuntime targetFramework="4.5.3" />
	</system.web>
	<system.webServer>
		<handlers>
			<add name="Owin" verb="" path="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<netNamedPipeBinding>
				<binding name="NetNamedPipeBinding_IWebSiteRepositoryService" />
			</netNamedPipeBinding>
		</bindings>
		<client>
			<endpoint address="net.pipe://localhost//WebSiteManagementService" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IWebSiteRepositoryService" contract="WebSiteRepositoryService.IWebSiteRepositoryService" name="NetNamedPipeBinding_IWebSiteRepositoryService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.10827.0" newVersion="4.0.10827.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.diagnostics>
		<sources>
			<source name="SignalR.SqlMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.ServiceBusMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.RedisMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.ScaleoutMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.Transports.WebSocketTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.ServerSentEventsTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.ForeverFrameTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.LongPollingTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.TransportHeartBeat">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.ReflectedHubDescriptorProvider">
				<listeners>
					<add name="SignalR-Init" />
				</listeners>
			</source>
		</sources>
		<!-- Sets the trace verbosity level -->
		<switches>
			<add name="SignalRSwitch" value="Verbose" />
		</switches>
		<!-- Specifies the trace writer for output -->
		<sharedListeners>
			<!-- Listener for transport events -->
			<add name="SignalR-Transports" type="System.Diagnostics.TextWriterTraceListener" initializeData="transports.log.txt" />
			<!-- Listener for scaleout provider events -->
			<add name="SignalR-Bus" type="System.Diagnostics.TextWriterTraceListener" initializeData="bus.log.txt" />
			<!-- Listener for hub discovery events -->
			<add name="SignalR-Init" type="System.Diagnostics.TextWriterTraceListener" initializeData="init.log.txt" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	<connectionStrings>
		<add name="WorkDbContext" connectionString="Data Source=ArtemchukPC;Initial Catalog=terrasoft_work30;Integrated Security=True" />
		<add name="mainDb" connectionString="Data Source=ArtemchukPC;Initial Catalog=IISAdmin;Integrated Security=True" />
	</connectionStrings>
	<appSettings>
		<add key="WebAppRoot" value="F:\DEV\inetpub\wwwroot" />
		<add key="DbBackupTempPath" value="F:\DEV" />
		<add key="NewSiteForBuild" value="true" />
		<add key="RedisTypicalConnectionString" value="host=localhost;db=1;port=6379;maxReadPoolSize=25;maxWritePoolSize=25" />
		<add key="DbTypicalConnectionString" value="Data Source=tscore-ms-01\mssql2008; Initial Catalog=BPMonline760Solution; Persist Security Info=True; MultipleActiveResultSets=True; Integrated Security=SSPI; Pooling = true; Max Pool Size = 100; Async = true" />
	</appSettings>
</configuration>