<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IWebSiteRepositoryService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost//WebSiteManagementService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IWebSiteRepositoryService"
                contract="WebSiteRepositoryService.IWebSiteRepositoryService"
                name="NetNamedPipeBinding_IWebSiteRepositoryService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>