<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net452" />
  <package id="DeclarativeSql.Core" version="0.1.10" targetFramework="net452" />
  <package id="DeclarativeSql.Dapper" version="0.1.10" targetFramework="net452" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net452" />
  <package id="Moq.Contrib" version="0.3" targetFramework="net452" />
</packages>