<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="db" connectionString="Data Source=tscore-ms-01\mssql2008; Initial Catalog=BPMonline740Solution; Persist Security Info=True; MultipleActiveResultSets=True; Integrated Security=SSPI; Pooling = true; Max Pool Size = 100; Async = true" />
  <add connectionString="host=localhost;db=0;port=6379;maxReadPoolSize=25;maxWritePoolSize=25" name="redis" />
  <add name="reports" connectionString="XpoProvider=MSSqlServer;Data Source=tscore-ms-01\MSSQL2008;Initial Catalog=BPMonline740Solution;Integrated Security=SSPI" />
  <add name="defRepositoryUri" connectionString="" />
  <add name="defWorkingCopyPath" connectionString="%TEMP%\%WORKSPACE%" />
  <add name="defPackagesWorkingCopyPath" connectionString="%TEMP%\%APPLICATION%\%WORKSPACE%\TerrasoftPackages" />
  <add name="clientUnitContentPath" connectionString="%TEMP%\%APPLICATION%\%WORKSPACE%\ClientUnitSrc" />
</connectionStrings>