<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="redis" type="Terrasoft.Redis.RedisConfigSection, Terrasoft.Redis" />
    <section name="operationLogger" type="Terrasoft.Core.OperationLog.OperationLoggerConfigurationSection, Terrasoft.Core" />
    <sectionGroup name="terrasoft" type="Terrasoft.Core.AppConfigurationSectionGroup, Terrasoft.Core">
      <section name="auth" type="Terrasoft.Web.Common.AuthConfigurationSection, Terrasoft.Web.Common" />
      <section name="secureText" type="Terrasoft.Core.AppSecureTextConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <sectionGroup name="resources" type="Terrasoft.Common.ResourceConfigurationSectionGroup, Terrasoft.Common">
        <section name="cultures" type="Terrasoft.Common.ResourceCulturesSection, Terrasoft.Common" requirePermission="false" />
        <section name="generalSettings" type="Terrasoft.Common.ResourceGeneralSettingsSection, Terrasoft.Common" requirePermission="false" />
        <section name="clientUnits" type="Terrasoft.Common.ClientUnitsSettingsSection, Terrasoft.Common, Culture=neutral" requirePermission="false" />
      </sectionGroup>
      <section name="managers" type="Terrasoft.Core.ManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="schemaManagers" type="Terrasoft.Core.SchemaManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="storeDataAdapters" type="Terrasoft.Core.Store.StoreAdaptersConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="storeCacheAdapters" type="Terrasoft.Core.Store.StoreAdaptersConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="clientStoreCacheAdapters" type="Terrasoft.Core.Store.ClientStoreAdaptersConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <sectionGroup name="db" type="Terrasoft.Core.DB.DBConfigurationSectionGroup, Terrasoft.Core">
        <section name="general" type="Terrasoft.Core.DB.DBConfigurationSection, Terrasoft.Core" requirePermission="false" />
      </sectionGroup>
      <section name="managerProvider" type="Terrasoft.Core.ManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="webControls" type="Terrasoft.UI.WebControls.GlobalConfig, Terrasoft.UI.WebControls" requirePermission="false" />
      <section name="pageSchemaControlTypes" type="Terrasoft.UI.WebControls.PageSchemaControlTypeConfigurationSection, Terrasoft.UI.WebControls" requirePermission="false" />
    </sectionGroup>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <redis connectionStringName="redis" enableLog="false" />
  <operationLogger useAdminUserLog="false" useAdminUnitAdminLog="false" useAdminUserRoleLog="false" useAdminEntitySchemaLog="false" useAdminEntitySchemaOperationLog="false" useAdminEntitySchemaExternalServiceLog="false" useAdminEntitySchemaRecordDefRightLog="false" useAdminEntitySchemaColumnLog="false" useAdminOperationLog="false" useAdminSettingsLog="false" useAdminOperationAuditLog="false" useAdminClientIPLog="false" useUserAuthorizationLog="false" useUserSessionLog="false" />
  <location path="favicon.ico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AutoLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NuiLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DevLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="VirtualLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ServiceModel/AuthService.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="terrasoft.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ErrorPage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Resources/images/favicon.ico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="core">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="core-sl">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="BPMonlineCRM.png">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Workspaces/WorkspaceEdit.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Workspaces/Workspaces.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Lic/LicManager.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Lic/LicLoader.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Mobile/Services/MobileCodeService.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Mobile/Services/MobileResourceService.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Mobile/MobileMainPage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="m">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <terrasoft>
    <auth providerNames="InternalUserPassword" autoLoginProviderNames="" defLanguage="ru-RU" defWorkspaceName="Default" useIPRestriction="false" loginTimeout="30000">
      <providers>
        <provider name="Certificate" type="Terrasoft.WebApp.Loader.Authentication.ClientCertificate.ClientCertificateProvider, Terrasoft.WebApp.Loader">
          <parameters>
            <add name="UserNameMask" value="(?&lt;UserName>.*)@" />
          </parameters>
        </provider>
        <provider name="SSPUserPassword" type="Terrasoft.WebApp.Loader.Authentication.SSPUserPassword.SSPUserPasswordProvider, Terrasoft.WebApp.Loader">
          <parameters>
            <add name="mainPageName" value="MainPage" />
            <add name="userPrefix" value="Portal/" />
          </parameters>
        </provider>
        <provider name="InternalUserPassword" type="Terrasoft.WebApp.Loader.Authentication.InternalUserPassword.InternalUserPasswordProvider, Terrasoft.WebApp.Loader">
        </provider>
        <provider name="Ldap" type="Terrasoft.WebApp.Loader.Authentication.Ldap.LdapProvider, Terrasoft.WebApp.Loader">
          <parameters>
            <add name="ServerPath" value="192.168.5.25" />
            <add name="AuthType" value="Ntlm" />
            <add name="DistinguishedName" value="dc=tscrm,dc=com" />
            <!--<add name="SearchPattern" value="(&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(memberOf=CN=SVNUsers,OU=groups,OU=Terrasoft,DC=tscrm,DC=com))" />-->
            <add name="SearchPattern" value="(&amp;(sAMAccountName={0})(objectClass=person))" />
          </parameters>
        </provider>
        <provider name="AutoLogin" type="Terrasoft.WebApp.Loader.Authentication.AutoLogin.AutoLoginProvider, Terrasoft.WebApp.Loader">
          <parameters>
            <add name="UserNameMask" value="Пользователь {0}" />
            <add name="MaxUserCount" value="500" />
            <add name="ExternalSiteLoginPageUrl" value="http://terrasoft.ru/autologin" />
          </parameters>
        </provider>
        <provider name="Yandex" type="Terrasoft.WebApp.Loader.Authentication.OpenId.OpenIdProvider, Terrasoft.WebApp.Loader">
          <parameters>
            <add name="openIdProviderUrl" value="http://openid.yandex.ru" />
          </parameters>
        </provider>
        <provider name="Google" type="Terrasoft.WebApp.Loader.Authentication.OpenId.OpenIdProvider, Terrasoft.WebApp.Loader">
          <parameters>
            <add name="openIdProviderUrl" value="https://www.google.com/accounts/o8/id" />
          </parameters>
        </provider>
      </providers>
    </auth>
    <secureText initializationVector="USAZBGAW" currentKey="GSYAHAGCBDUUADIADKOPAAAW" />
    <resources>
      <generalSettings resourceDirectory="\Terrasoft.WebApp\bin\Resources\" uiResourceDirectory="\Terrasoft.WebApp\Resources\ui\" primaryCulture="en" />
      <clientUnits useFileContent="false" />
    </resources>
    <managers>
      <manager scope="app" name="DataValueTypeManager" type="Terrasoft.Core.DataValueTypeManager, Terrasoft.Core" />
      <manager scope="app" name="SystemValueManager" type="Terrasoft.Core.SystemValueManager, Terrasoft.Core" />
    </managers>
    <schemaManagers>
      <manager name="EntitySchemaManager" type="Terrasoft.Core.Entities.EntitySchemaManager, Terrasoft.Core" />
      <manager name="ProcessUserTaskSchemaManager" type="Terrasoft.Core.Process.ProcessUserTaskSchemaManager, Terrasoft.Core" />
      <manager name="ProcessSchemaManager" type="Terrasoft.Core.Process.ProcessSchemaManager, Terrasoft.Core" />
      <manager name="PageSchemaManager" type="Terrasoft.UI.WebControls.PageSchemaManager, Terrasoft.UI.WebControls" />
      <manager name="ImageListSchemaManager" type="Terrasoft.Core.ImageListSchemaManager, Terrasoft.Core" />
      <manager name="ReportSchemaManager" type="Terrasoft.Reports.ReportSchemaManager, Terrasoft.Reports" />
      <manager name="SourceCodeSchemaManager" type="Terrasoft.Core.SourceCodeSchemaManager, Terrasoft.Core" />
      <manager name="ValueListSchemaManager" type="Terrasoft.Core.ValueListSchemaManager, Terrasoft.Core" />
      <manager name="ClientUnitSchemaManager" type="Terrasoft.Core.ClientUnitSchemaManager, Terrasoft.Core" />
    </schemaManagers>
    <storeDataAdapters>
      <storeAdapter levelName="Request" type="Terrasoft.Store.WebAdapters.RequestDataStore, Terrasoft.Store.WebAdapters" />
      <storeAdapter levelName="Session" type="Terrasoft.Redis.SessionDataRedisStore, Terrasoft.Redis">
        <parameters>
          <add name="connectionStringName" value="redis" />
        </parameters>
      </storeAdapter>
    </storeDataAdapters>
    <storeCacheAdapters>
      <storeAdapter levelName="Session" type="Terrasoft.Redis.SessionCacheRedisStore, Terrasoft.Redis">
        <parameters>
          <add name="connectionStringName" value="redis" />
        </parameters>
        <proxies>
          <proxy name="Key" type="Terrasoft.Store.WebAdapters.Proxies.SessionKeyProxy, Terrasoft.Store.WebAdapters" />
        </proxies>
      </storeAdapter>
      <storeAdapter levelName="Workspace" type="Terrasoft.Redis.GeneralCacheRedisStore, Terrasoft.Redis">
        <parameters>
          <add name="connectionStringName" value="redis" />
          <add name="hashId" value="Workspace" />
        </parameters>
        <proxies>
          <proxy name="Key" type="Terrasoft.Store.WebAdapters.Proxies.WorkspaceKeyProxy, Terrasoft.Store.WebAdapters" />
        </proxies>
      </storeAdapter>
      <storeAdapter levelName="Application" type="Terrasoft.Redis.GeneralCacheRedisStore, Terrasoft.Redis">
        <parameters>
          <add name="connectionStringName" value="redis" />
          <add name="hashId" value="Application" />
        </parameters>
        <proxies>
          <proxy name="ConstPrefix" type="Terrasoft.Core.Store.PrefixKeyTransformerProxy, Terrasoft.Core">
            <parameters>
              <add name="prefix" value="ApplicationCache:" />
            </parameters>
          </proxy>
          <proxy name="AppPrefix" type="Terrasoft.Store.WebAdapters.Proxies.ApplicationKeyProxy, Terrasoft.Store.WebAdapters" />
        </proxies>
      </storeAdapter>
    </storeCacheAdapters>
    <clientStoreCacheAdapters>
      <clientStoreAdapter levelName="ClientPageSession" clientType="Terrasoft.MemoryStore" />
      <clientStoreAdapter levelName="Domain" clientType="Terrasoft.LocalStore" />
    </clientStoreCacheAdapters>
    <db>
      <general connectionStringName="db" securityEngineType="Terrasoft.DB.MSSql.MSSqlSecurityEngine, Terrasoft.DB.MSSql" executorType="Terrasoft.DB.MSSql.MSSqlExecutor, Terrasoft.DB.MSSql" engineType="Terrasoft.DB.MSSql.MSSqlEngine, Terrasoft.DB.MSSql" metaEngineType="Terrasoft.DB.MSSql.MSSqlMetaEngine, Terrasoft.DB.MSSql" metaScriptType="Terrasoft.DB.MSSql.MSSqlMetaScript, Terrasoft.DB.MSSql" typeConverterType="Terrasoft.DB.MSSql.MSSqlTypeConverter, Terrasoft.DB.MSSql" binaryPackageSize="1048576" currentSchemaName="dbo" enableSqlLog="false" useOrderNullsPosition="false" maxEntitySchemaNameLength="30" />
      <!--<general securityEngineType="Terrasoft.DB.Oracle.OracleSecurityEngine, Terrasoft.DB.Oracle"
						executorType="Terrasoft.DB.Oracle.OracleExecutor, Terrasoft.DB.Oracle"
						engineType="Terrasoft.DB.Oracle.OracleEngine, Terrasoft.DB.Oracle"
						metaEngineType="Terrasoft.DB.Oracle.OracleMetaEngine, Terrasoft.DB.Oracle"
						metaScriptType="Terrasoft.DB.Oracle.OracleMetaScript, Terrasoft.DB.Oracle"
						typeConverterType="Terrasoft.DB.Oracle.OracleTypeConverter, Terrasoft.DB.Oracle"
						isCaseInsensitive="true"
						maxAnsiJoinCount="0"
						connectionStringName="dbOracle"
						binaryPackageSize="1048576"
						useOrderNullsPosition="true"
						currentSchemaName="BPMONLINE740SOLUTION">
						maxEntitySchemaNameLength="30"
			</general>-->
    </db>
    <webControls />
    <!--<webControls resourceLocationType="File" resourceRoot="D:\Projects\TSBpm\TSBpm\Src\Lib\" resourceRootUrl="http:\\localhost\BpmResources\"/>-->
  </terrasoft>
  <connectionStrings configSource="ConnectionStrings.config" />
  <!-- Для корректной работы Oracle необходимо раскоментировать
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.DataAccess.Client" />
			<add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=2.112.1.2, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		</DbProviderFactories>
	</system.data>-->
  <appSettings>
    <add key="useDefaultWorkspace" value="false" />
    <add key="SpellChecker" value="Terrasoft.YandexSpellChecker" />
    <add key="SynchronizeUserSessions" value="false" />
    <add key="BlockedPopupUrl" value="http://community.terrasoft.com.ua/forum/topic/5679" />
    <add key="VirtualLoginPageAllowedIPAddress" value="192.168.4.168" />
    <add key="RequestTimeout" value="120" />
    <add key="MobileCacheTimeout" value="900" />
    <!--<add key="MaxViewStateFieldLength" value="4096" />-->
  </appSettings>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <customErrors mode="Off" />
      <httpRuntime maxRequestLength="73400" executionTimeout="28800" />
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
        </protocols>
      </webServices>
      <compilation debug="false" targetFramework="4.0" />
      <httpCookies httpOnlyCookies="true" />
      <authentication mode="Forms">
        <forms loginUrl="~/NuiLogin.aspx" protection="All" timeout="60" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="ViewPage.aspx?Id=4e342d5e-bd89-4b79-98e2-22e433122403" cookieless="UseDeviceProfile" enableCrossAppRedirects="true" />
      </authentication>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
      <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="TS" namespace="Terrasoft.UI.WebControls.Controls" assembly="Terrasoft.UI.WebControls" />
        </controls>
      </pages>
      <!--<httpRuntime requestValidationMode="2.0" />-->
      <httpHandlers>
        <add verb="*" path="*/terrasoft.axd" type="Terrasoft.UI.WebControls.Controls.ResourceHandlerFactory" validate="false" />
      </httpHandlers>
      <httpModules>
        <add name="AjaxRequestModule" type="Terrasoft.UI.WebControls.AjaxRequestModule, Terrasoft.UI.WebControls" />
      </httpModules>
      <healthMonitoring heartbeatInterval="0" enabled="true">
        <eventMappings>
          <add name="ApplicationWebErrorEvent" type="Terrasoft.Web.Common.ApplicationWebErrorEvent, Terrasoft.Web.Common" />
        </eventMappings>
        <providers>
          <add name="FileWebEventProvider" type="Terrasoft.WebApp.Loader.FileWebEventProvider, Terrasoft.WebApp.Loader, Culture=neutral" />
        </providers>
        <profiles>
          <add name="ErrorLoging" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
        </profiles>
        <rules>
          <add name="BPMonline Error" eventName="ApplicationWebErrorEvent" provider="FileWebEventProvider" profile="ErrorLoging" />
        </rules>
      </healthMonitoring>
      <!-- TODO нужно при сохранении ViewState в сессию
		<browserCaps>
			<case>RequiresControlStateInSession=true</case>
		</browserCaps>-->
      <machineKey validationKey="61EA54E005915332011232149A2EEB317586824B265326CCDB3AD9ABDBE9D6F24B0625547769E835539AD3882D3DA88896EA531CC7AFE664866BD5242FC2B05D" decryptionKey="61EA54E005915332011232149A2EEB317586824B265337AF" validation="SHA1" />
      <sessionState mode="InProc" timeout="30" cookieName="BPMLOADER" />
    </system.web>
  </location>
  <location path="core">
    <system.webServer>
      <handlers>
        <add name="SchemaCoreResourceHandler-js" path="*.js" verb="GET" type="Terrasoft.Web.Common.SchemaResourcesRouter, Terrasoft.Web.Common" preCondition="managedHandler" />
        <add name="SchemaCoreResourceHandler-profile" path="*.profile" verb="GET" type="Terrasoft.Web.Common.SchemaResourcesRouter, Terrasoft.Web.Common" preCondition="managedHandler" />
        <add name="SchemaCoreResourceHandler-css" path="*.css" verb="GET" type="Terrasoft.Web.Common.SchemaResourcesRouter, Terrasoft.Web.Common" preCondition="managedHandler" />
        <add name="SchemaCoreResourceHandler-less" path="*.less" verb="GET" type="Terrasoft.Web.Common.SchemaResourcesRouter, Terrasoft.Web.Common" preCondition="managedHandler" />
        <add name="SchemaCoreResourceHandler-eot" path="*.eot" verb="GET" type="Terrasoft.Web.Common.SchemaResourcesRouter, Terrasoft.Web.Common" preCondition="managedHandler" />
        <add name="SchemaCoreResourceHandler-ttf" path="*.ttf" verb="GET" type="Terrasoft.Web.Common.SchemaResourcesRouter, Terrasoft.Web.Common" preCondition="managedHandler" />
        <add name="SchemaCoreResourceHandler-svg" path="*.svg" verb="GET" type="Terrasoft.Web.Common.SchemaResourcesRouter, Terrasoft.Web.Common" preCondition="managedHandler" />
        <add name="SchemaCoreResourceHandler-woff" path="*.woff" verb="GET" type="Terrasoft.Web.Common.SchemaResourcesRouter, Terrasoft.Web.Common" preCondition="managedHandler" />
        <add name="SchemaCoreResourceHandler-png" path="*.png" verb="GET" type="Terrasoft.Web.Common.SchemaResourcesRouter, Terrasoft.Web.Common" preCondition="managedHandler" />
      </handlers>
    </system.webServer>
  </location>
  <location path="core-sl">
    <system.webServer>
      <handlers>
        <add name="SchemaCoreStringListResourceHandler" path="*" verb="GET" type="Terrasoft.Web.Common.SchemaResourcesRouter, Terrasoft.Web.Common" preCondition="managedHandler" />
      </handlers>
    </system.webServer>
  </location>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="AjaxRequestModule" />
      <add name="AjaxRequestModule" preCondition="managedHandler" type="Terrasoft.UI.WebControls.AjaxRequestModule, Terrasoft.UI.WebControls" />
    </modules>
    <handlers>
      <remove name="ResourceHandlerFactory" />
      <add name="ResourceHandlerFactory" verb="*" path="*terrasoft.axd" type="Terrasoft.UI.WebControls.Controls.ResourceHandlerFactory" preCondition="integratedMode" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="NuiLogin.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0-7.4.0.65535" newVersion="7.4.0.2612" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0-7.4.0.65535" newVersion="7.4.0.2612" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core.Scheduler" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0-7.4.0.65535" newVersion="7.4.0.2612" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.UI.WebControls" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0-7.4.0.65535" newVersion="7.4.0.2612" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Reports" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0-7.4.0.65535" newVersion="7.4.0.2612" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Messaging.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0-7.4.0.65535" newVersion="7.4.0.2612" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Sync" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0-7.4.0.65535" newVersion="7.4.0.2612" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Administration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0-7.4.0.65535" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Web.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0-7.4.0.65535" newVersion="7.4.0.2612" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <quartz>
    <add key="quartz.scheduler.instanceId" value="auto" />
    <add key="quartz.scheduler.instanceName" value="BPMonlineQuartzScheduler" />
    <add key="quartz.threadPool.threadCount" value="3" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.clustered" value="true" />
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
    <add key="quartz.jobStore.dataSource" value="SchedulerDb" />
    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
    <add key="quartz.dataSource.SchedulerDb.provider" value="SqlServer-20" />
    <add key="quartz.dataSource.SchedulerDb.connectionStringName" value="db" />
  </quartz>
  <location path="." inheritInChildApplications="false">
    <common>
      <logging>
        <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
          <arg key="configType" value="FILE-WATCH" />
          <arg key="configFile" value="~/Terrasoft.WebApp/log4net.config" />
        </factoryAdapter>
      </logging>
    </common>
  </location>
  <system.serviceModel>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="1" aspNetCompatibilityEnabled="True" multipleSiteBindingsEnabled="True" />
    <extensions configSource="Terrasoft.WebApp\ServiceModel\Extensions.config" />
    <services>
      <service name="Terrasoft.WebApp.Loader.ServiceModel.AuthService" behaviorConfiguration="RestServiceBehavior">
        <endpoint name="AuthServiceEndPoint" address="" binding="webHttpBinding" behaviorConfiguration="RestServiceBehavior" bindingNamespace="http://Terrasoft.WebApp.ServiceModel" contract="Terrasoft.Core.ServiceModelContract.IAuthService" />
      </service>
    </services>
    <behaviors configSource="Terrasoft.WebApp\ServiceModel\http\behaviors.config" />
    <bindings configSource="Terrasoft.WebApp\ServiceModel\http\bindings.config" />
  </system.serviceModel>
</configuration>