<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- Во время развертывания проекта библиотеки служб содержимое файла конфигурации необходимо добавить к файлу 
  app.config на узле. Файлы конфигурации для библиотек не поддерживаются System.Configuration. -->
  <system.serviceModel>
	  
    <services>
      <service name="WebSiteManagment.Wcf.WebSiteManagementService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost//"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Если адрес не задан полностью, он является относительным к вышеуказанному базовому адресу -->
        <endpoint address="WebSiteManagementService" binding="netNamedPipeBinding" bindingConfiguration="netPipesEndpoint" contract="WebSiteManagment.Wcf.IWebSiteRepositoryService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- Служба использует конечную точку Metadata Exchange для предоставления своего описания клиентам. --> 
        <!-- Эта конечная точка не использует безопасную привязку и должна быть защищена или удалена перед развертыванием -->
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
		<endpoint address="WebSiteManagementServiceMex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
			<dataContractSerializer maxItemsInObjectGraph="65536"/>
          <!--Чтобы избежать раскрытия метаданных, 
          до развертывания задайте следующим параметрам значение "false".-->
          <serviceMetadata/>
          <!-- Чтобы получить сведения об исключениях в ошибках для отладки, 
          установите ниже значение TRUE. Перед развертыванием установите значение FALSE, 
           чтобы избежать разглашения сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
	  <bindings>
		  <netNamedPipeBinding>
			  <binding name="netPipesEndpoint" maxConnections="500">
				  <security mode="Transport"/>
			  </binding>
		  </netNamedPipeBinding>
	  </bindings>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
