.site-list-grid-container {
  overflow: hidden;
}
.site-list-grid {
  width: auto;
  height: 500px;
}
.site-list {
  padding: 10px;
  font-size: 14px;
}
.site-list .site-list-row {
  cursor: pointer;
}
.hide {
  display: none;
}
.mProgressContainerRow {
  width: 100%;
  height: 50%;
}
.mProgressContainerRow-msg {
  text-align: center;
}
.load-error-container {
  padding: 10px;
}
.binding-label {
  overflow: hidden;
  text-overflow: ellipsis;
}
.pool-name {
  padding: 0;
}
