<div class="row">
	<div class="app-list bottom-top-margin" ng-show="listLoaded && gridOptions.data.length > 0">
		<h2>Application list:</h2>
		<div class="app-list-grid-container">
			<div id="siteListGrid"
				 class="app-list-grid"
				 ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns  ui-grid-selection></div>
		</div>
	</div>
	<div class="load-error-container" ng-show="listLoaded && (!gridOptions.data || gridOptions.data.length == 0)">
		<h2 > Could not load</h2>
	</div>
	<div class="load-error-container" ng-show="!listLoaded">
		<h2 >Loading...</h2>
	</div>
</div>