<div class="site-add-form">
    <h2>Power up new site:</h2>
    <div class="site-form main-form">
        <formly-form model="site" fields="siteFields">
            <button type="submit" class="btn btn-primary create-site-btn" ng-click="addSite(site)" ng-disabled="!site.isFormDataValid()">Create</button>
        </formly-form>
    </div>
    <div class="site-form detail-form ngFade" ng-show="site.releaseInfo.name.length">
        <formly-form model="site.releaseInfo" fields="releaseInfoFields">
        </formly-form>
    </div>
</div>