<div class="form-sql-server">
    <label for="formly_1_uiSelect_{{options.key}}_3">{{to.label}}</label>
    <ui-select name="ui_select_{{options.key}}" ng-model="model[options.key]" theme="bootstrap" ng-disabled="disabled" reset-search-input="false">
        <ui-select-match placeholder="{{to.placeholder}}">{{$select.selected.Name}}</ui-select-match>
        <ui-select-choices repeat="option in model.msSqlInstances | filter: {Name: $select.search}">
            <div ng-bind-html="option.name | highlight: $select.search"></div>
            <span>
                name: {{option.Name}}<br>
                version: <span ng-bind-html="option.Version"></span>
            </span>
        </ui-select-choices>
    </ui-select>
</div>
