<div class="content home-content">
    <div class="row">
        <div class="col-xs-4 col-md-2 home-btn-row">
            <div class="home-btn btn btn-lg glyphicon glyphicon-th-large" ng-click="goTo('appList')"><br>
                <div class=""><h4>Applications list</h4></div></div>
        </div>
        <div class="col-xs-4 col-md-2 home-btn-row">
            <div class="home-btn btn btn-lg glyphicon glyphicon-list" ng-click="goTo('siteList')"><br>
                <div class=""><h4>Site list</h4></div></div>
        </div>
        <div class="col-xs-4 col-md-2 home-btn-row">
            <div class="home-btn btn btn-lg glyphicon glyphicon-plus" ng-click="goTo('addSite')"><br>
                <div class=""><h4>Add site</h4></div></div>
        </div>
        <div class="col-xs-4 col-md-2 home-btn-row">
            <div class="home-btn btn btn-lg glyphicon glyphicon-option-horizontal" ng-click="goTo('addSiteProgress')"><br>
                <div class=""><h4>Queue</h4></div></div>
        </div>
    </div>
</div>