<div class="content home-content">
    <div class="row">
        <div class="col-xs-4 col-md-2 home-btn-row">
            <div class="home-btn btn btn-lg glyphicon glyphicon-list" ng-click="goTo('siteList')"><br><span>Site list</span></div>
        </div>
        <div class="col-xs-4 col-md-2 home-btn-row">
            <div class="home-btn btn btn-lg glyphicon glyphicon-plus" ng-click="goTo('addSite')"><br><span>Add site</span></div>
        </div>
        <div class="col-xs-4 col-md-2 home-btn-row">
            <div class="home-btn btn btn-lg glyphicon glyphicon-option-horizontal" ng-click="goTo('addSiteProgress')"><br><span>Queue</span></div>
        </div>
    </div>
</div>